$color1: #FFFFFF; /** blanco*/
$color2: #000000; /** negro*/
$color3: #FFC600; /**amarillo*/
$color4: #F0F0F0; /**gris claro*/

/* Custom page CSS
-------------------------------------------------- */
body{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: color2;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 100px;
	color: color2;
	font-weight: 700;
}

h2 {
	font-size: 28px;
	color: color2;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

p {
	font-size: 18px;
	font-weight: 400;
}

main {
	margin-top: 56px;
}

.form-box {
	background-color: $color1;
}

.form-control {
	border-radius: 50px;
	padding-right: 45px;
	&:focus {
		border-color: $color1;
		box-shadow: none;
	}
}


.color1{
	color: $color1;
}

.color2{
	color: $color2;
}

.color3{
	color: $color3;
}

.color4{
	color: $color4;
}

.bg-color1{
	background-color: $color1;
}

.bg-color2{
	background-color: $color2;
}

.bg-color3{
	background-color: $color3;
}

.bg-color4{
	background-color: $color4;
}

.btn-primary {
	color: $color2;
	background-color: $color3;
	border-color: $color3;
	border-radius: 30;
	padding: 10px 20px;
	font-weight: 400;
	&:hover {
		color: $color2;
		background-color: #daab09;
		border-color: #daab09;
			}
} 

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

