$color1: #FFFFFF; /** blanco*/
$color2: #000000; /** negro*/
$color3: #FFC600; /**amarillo*/
$color4: #F0F0F0; /**gris claro*/

/* Custom page CSS
-------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: color2;
	background-color: $color4;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 100px;
	color: color2;
	font-weight: 700;
}

h2 {
	font-size: 28px;
	color: color2;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

h4 {
	font-size: 18px;
	font-weight: 500;
	color: color2;	
}

p {
	font-size: 18px;
	font-weight: 400;
}

main {
	margin-top: 56px;
}

.form-box {
	background-color: $color1;
}

.color1{
	color: $color1;
}

.color2{
	color: $color2;
}

.color3{
	color: $color3;
}

.color4{
	color: $color4;
}

.btn-warning {
	color: $color2;
	background-color: $color3;
	border-color: $color3;
	border-radius: 30;
	padding: 10px 20px;
	font-weight: 400;
	&:hover {
		color: $color2;
		background-color: #daab09;
		border-color: #daab09;
			}
} 

//Acá le agregué una clase para poner imagen en la cabecera.
.cabecera{
	background: red;
	height: 90vh;
	background: url(../Imagenes/cabecera.jpg)no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.img-form{
	background: red;
	height: 90vh;
	background: url(../Imagenes/formulario.jpg)no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.form-group {
	position: relative;
}

.right-addon {
    position: absolute;
    top: 2px;
    right: 15px;
    font-size: 20px;
    color: lighten($color3, 15%);
    pointer-events: none;
}

#dondeEstamos {
	background-color: $color4;
}

#mapid {
	width: 700px; 
	height: 500px;
}

.footer {
  background-color: $color1;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}