$color1: #FFFFFF; /** blanco*/
$color2: #000000; /** negro*/
$color3: #FFC600; /**amarillo*/
$color4: #F0F0F0; /**gris claro*/

/* Custom page CSS
-------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: color2;
	background-color: $color4;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 90px;
	color: color2;
	font-weight: 700;
}

h2 {
	font-size: 28px;
	color: color2;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

h4 {
	font-size: 16px;
	font-weight: 500;
	color: color2;	
}

p {
	font-size: 16px;
	font-weight: 400;
}

main {
	margin-top: 56px;
}

.form-box {
	background-color: $color1;
}

.color1{
	color: $color1;
}

.color2{
	color: $color2;
}

.color3{
	color: $color3;
}

.color4{
	color: $color4;
}

.btn-warning {
	color: $color2;
	background-color: $color3;
	border-color: $color3;
	border-radius: 30;
	padding: 10px 20px;
	font-weight: 400;
	&:hover {
		color: $color2;
		background-color: #daab09;
		border-color: #daab09;
			}
} 

//Acá le agregué una clase para poner imagen en la cabecera.
.cabecera{
	background: red;
	height: 90vh;
	background: url(../Imagenes/cabecera.jpg)no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#slider{
	background-color: #dddddd;
}

.img-form{
	background: red;
	height: 90vh;
	background: url(../Imagenes/formulario.jpg)no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.form-group {
	position: relative;
}

.right-addon {
    position: absolute;
    top: 2px;
    right: 15px;
    font-size: 20px;
    color: lighten($color3, 15%);
    pointer-events: none;
}

#dondeEstamos {
	background-color: $color4;
}

#mapid {
	width: 700px; 
	height: 500px;
}

.contact-section {
  padding-top: 5rem;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #FFC600;
}
.contact-section .card h4 {
  font-size: 0.8rem;
  
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #FFC600;
  border-width: 0.25rem;
  width: 3rem;
}


.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: #ffffff;
  border-radius: 100%;
  line-height: 3rem;
  color: #FFC600;
} 

.contact-section .social a:hover {
  color: #000000
} 

.contact-section .social a:active {
  color: #000000
}

.footer {
  padding: 5rem 0;
}